@import url(plein.css);


:root{
    --c-dark: #212529;
    --c-brand: #258a8a;
    --c-brand-light: #40afaf;
    --c-brand-rgb: 78, 87, 212;
    --c-body: #727272;
    --font-base: "Plein-Variable", sans-serif;
    --box-shadow: 0px 15px 25px rgba( 0, 0, 0, 0, 0.8);
    --transition: all 0.5s ease;
}

/* OBJECTS */
body{
    font-family: var(--font-base) ;
    line-height: 1.7;
    color: var(--c-body);
}

h1 h2 h3
.h1 .h2 .h3 .h4 .h5 .h6{
    font-weight: 900;
}


a{
    text-decoration: none ;
    color: var(--c-brand) ;
    transition: var(--transition);
}

a:hover{
    color: var(--c-brand-light);
}

img{
    max-width: 100%;
    height: auto;
}

.section-padding{
    padding-top: 140px;
    padding-bottom: 140px;

}

/* NAVBAR */
.navbar{
    box-shadow: var(--box-shadow) ;
}
.navbar-nav .nav-link{
    font-weight: 500;
    color: white;
}

.navbar-nav .nav-link.active{

    color: var(--c-brand);
}
.logo2 {
    width: 150px; 
    height: auto; 
  }
.bg-custom{
    background-color: #212529;
}


/* BTN */
.btn{
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0 ;
    padding: 10px 24px ;
}

.btn-brand{
    background-color: var(--c-brand);
    color: white ;
}

.btn-brand:hover{
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: white;

}


/*Land*/
#land {
    background: linear-gradient(rgb(1, 10, 10), rgba(13, 187, 135, 0.199)), url('https://www.brownsafe.com/categories/antique_vault_doors/images/first-national-round-vault-door-open.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
}
h1 {
    margin-bottom: 20px; /* Adjust the margin-bottom to add space */
  }
  
h5 {
    margin-top: 20px; /* Adjust the margin-top to add space */
    margin-bottom: 20px;
  }

  /*FOOTER*/
#footer {
    background-color: var(--c-dark); 
    color: #fff; 
  }
  
#footer .nav-link {
    color: #bbb; 
  }
  
#footer .nav-link:hover {
    color: #fff;
  }
  
#footer .text-center {
    font-family: var(--font-base);
    color: #d8d8d8; 
  }
  
#footer .nav {
    border-bottom: 1px solid #444;
}
  
#footer .container {
    padding: 1% 0; 
  }

#footer .footer-logo{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#footer .footer-logo img {
    max-width: auto; 
    height: 30px; 
}